<div class="doc_title">Data Publisher</div>
<p><strong>How to setup and use the Data Publisher</strong></p>
<iframe style="width:1280px; height:720px;" src="https://www.youtube.com/embed/Pca8BHn4c1A?vq=hd720" allowfullscreen></iframe>
<p><strong>Use the Data Publisher tool to add database tables to your website (quick tour)</strong></p>
<ul class="doc_list">
  <li>Select a database table (make sure you have granted access, see NOTES)</li>
  <li>Select columns to be displayed or * from all (use the select button to see (and select) available columns)</li>
  <li>Select desired output (flat or responsive)</li>
  <li>For responsive output: select desired options</li>
  <li>Save publication</li>
  <li>Test publication</li>
  <li>Copy your shortcode</li>
  <li>Paste your shortcode into your post or page</li>
  <li>Publish and test your post or page</li>
</ul>
<p><strong>NOTES</strong></p>
<ul class="doc_list">
  <li>Make sure you have loaded the jQuery DataTables and jQuery DataTables Responsive libraries (<a href="?page=wpda_settings&tab=datapublisher">Manage Plugin > Data Publisher Settings</a>)</li>
  <li>You need to explicitly grant access to tables shown on your website! (<a href="?page=wpda_settings&tab=frontend">Manage Plugin > Front-end Settings</a>)</li>
  <li>You can give other users with less privileges access to the Data Publisher tool as well (<a href="?page=wpda_settings&tab=datapublisher">Manage Plugin > Data Publisher Settings</a>)</li>
  <li>You can still use the old shortcode parameters (<a href="?page=wpda_help&docid=shortcode_usage">see shortcode usage</a>)</li>
</ul>
<p><strong>How to give users without the administrator role access to the Data Publisher</strong></p>
<iframe style="width:1280px; height:720px;" src="https://www.youtube.com/embed/jZF5tcFpMLo?vq=hd720" allowfullscreen></iframe>
