<div class="doc_title">What's New?</div>
<p>Development of this release mainly focused on cleaning up code, documentation and language translation support.
Many improvements in these areas were made to enhance the stability and maintainability of the plugin for future development.
Please be patient if you posted a feature request on the forum that was not yet taken into account.
I was not able to do all the work.
Due to my holiday I will be less accessible during the next weeks.
After my holiday I will continue to work on the plugin and pick up your feature requests one by one.
</p>
<p>The following features were added/changed to WP Data Access</p>
<ul class="doc_list">
  <li><a href="?page=wpda_help&docid=data_publisher">Added Data Publisher (use this tool to add database tables to your website)</a></li>
  <li><a href="?page=wpda_help&docid=data_menus">Moved Data Menus back to main menu</a></li>
  <li><a href="?page=wpda_help&docid=data_projects_roles">Added support to set default value of a table column to WordPress username using $$USER$$ environment variable (support forum #11656471 - kentauron)</a></li>
  <li><a href="?page=wpda_help&docid=data_projects_lessmore">Added less/more button to parent form (for parent tables with a large number of columns)</a></li>
  <li><a href="?page=wpda_settings&tab=repository">Added button to remove old backup tables (Manage Plugin > Manage Repository)</a></li>
  <li>Changed database queries using joins to supports MariaDB 10.2.7 and higher (support forum #11675290 - smolenaar)</li>
</ul>
<p><a href="https://bitbucket.org/wpdataaccess/wp-data-access/src/master/CHANGES.md" target="_blank">View the changelog to see all additions, fixes and changes</a></p>
<p>Thank you for all your valuable feedback and feature requests!
</p>
<p>Peter Schulz</p>
